.ButtonCTA {
    position: fixed;
    z-index: 9999;
    left: 0px;
    top: 0px;
    pointer-events: none;
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: end;
    transition: height 100ms;

    canvas {
        position: relative;
        top: calc(35dvh);
        max-width: 500px;

        object-fit: contain;
        pointer-events: none;

        @media(max-width: 600px) {
            max-width: 300px;
        }
    }

    &_trigger {
        min-width: 320px;
        min-height: 110px;
        // background: #f008;
        position: relative;
        top: calc(35dvh + 55px);
        pointer-events: all;

        @media(max-width: 600px) {
            top: calc(35dvh + 30px);
            min-width: 200px;
            min-height: 65px;
        }

        &:hover {
            cursor: url('/img/pointer.png'), pointer;
        }

        &_wrapper {
            position: fixed;
            z-index: 99999;
            left: 0px;
            top: 0px;
            pointer-events: none;
            width: 100vw;
            height: 100dvh;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: height 100ms;
        }
    }
}