.About {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 45px;

    &__title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        @media(max-width: 830px) {
            flex-wrap: wrap;
        }

        &_left{
            letter-spacing: 2px !important;
        }

        &_line {
            width: calc(40% - 15px);
            height: 7px;
            background-color: #D9D9D9;
            border: 1px solid #000;

            @media(max-width: 830px) {
                min-width: 300px;
            }

            @media(max-width: 440px) {
                min-width: 250px;
                height: 5px;
            }

            @media(max-width: 350px) {
                min-width: 200px;
            }
        }
    }

    &__el {
        font-size: 150px;

        @media(max-width: 1552px) {
            font-size: 100px;
        }

        @media(max-width: 1100px) {
            font-size: 70px;
        }

        @media(max-width: 830px) {
            width: 100%;
            text-align: center;
            letter-spacing: 5px !important;
        }

        @media(max-width: 440px) {
            font-size: 50px;
            text-shadow: 2.00px 0.00px #000, 1.85px 0.77px #000, 1.41px 1.41px #000, 0.77px 1.85px #000, 0.00px 2.00px #000, -0.77px 1.85px #000, -1.41px 1.41px #000, -1.85px 0.77px #000, -2.00px 0.00px #000, -1.85px -0.77px #000, -1.41px -1.41px #000, -0.77px -1.85px #000, -0.00px -2.00px #000, 0.77px -1.85px #000, 1.41px -1.41px #000, 1.85px -0.77px #000, 3.00px 3.00px #000, 2.85px 3.77px #000, 2.41px 4.41px #000, 1.77px 4.85px #000, 1.00px 5.00px #000, 0.23px 4.85px #000, -0.41px 4.41px #000, -0.85px 3.77px #000, -1.00px 3.00px #000, -0.85px 2.23px #000, -0.41px 1.59px #000, 0.23px 1.15px #000, 1.00px 1.00px #000, 1.77px 1.15px #000, 2.41px 1.59px #000, 2.85px 2.23px #000 !important;
        }

        @media(max-width: 350px) {
            font-size: 40px;
        }

        // width: calc(35% - 20px);
    }

    perspective: 1500px;

    &__paper {
        width: 100%;
        height: 1200px;

        display: flex;
        align-items: center;
        justify-content: center;
        transform-style: preserve-3d;
        transform: rotate3d(1, 0, 0, 20deg);
        perspective: 5000px;

        transition: translate 1000ms;

        &_center {
            translate: -300px 0px;
        }
    }

    &_page {
        font-size: 100px;
        color: #000;
    }
}