.About {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        @media(max-width: 830px) {
            flex-wrap: wrap;
            gap: 20px;
        }

        &_line {
            width: calc(40% - 15px);
            height: 20px;
            background-color: #fff;
            border: 3px solid #000;
            box-shadow: 2px 2px #000;
            border-radius: 2px;

            @media(max-width: 830px) {
                min-width: 300px;
                height: 10px;
                border: 2px solid #000;
                box-shadow: 1px 1px #000;
            }

        }
    }

    &__el {
        font-size: 150px;
        letter-spacing: -8px !important;

        @media(max-width: 1552px) {
            font-size: 100px;
        }

        @media(max-width: 1100px) {
            letter-spacing: -5px !important;
            font-size: 70px;
        }

        @media(max-width: 830px) {
            width: 100%;
            text-align: center;
            letter-spacing: -3px !important;
            font-size: 50px;
            text-shadow: 2.00px 0.00px #000, 1.85px 0.77px #000, 1.41px 1.41px #000, 0.77px 1.85px #000, 0.00px 2.00px #000, -0.77px 1.85px #000, -1.41px 1.41px #000, -1.85px 0.77px #000, -2.00px 0.00px #000, -1.85px -0.77px #000, -1.41px -1.41px #000, -0.77px -1.85px #000, -0.00px -2.00px #000, 0.77px -1.85px #000, 1.41px -1.41px #000, 1.85px -0.77px #000, 3.00px 3.00px #000, 2.85px 3.77px #000, 2.41px 4.41px #000, 1.77px 4.85px #000, 1.00px 5.00px #000, 0.23px 4.85px #000, -0.41px 4.41px #000, -0.85px 3.77px #000, -1.00px 3.00px #000, -0.85px 2.23px #000, -0.41px 1.59px #000, 0.23px 1.15px #000, 1.00px 1.00px #000, 1.77px 1.15px #000, 2.41px 1.59px #000, 2.85px 2.23px #000 !important;
        }


        // width: calc(35% - 20px);
    }

    perspective: 1500px;

    &__paper {
        width: 100%;
        height: 1200px;

        display: flex;
        align-items: center;
        justify-content: center;
        transform-style: preserve-3d;
        transform: rotate3d(1, 0, 0, 20deg);
        perspective: 5000px;
        transition: translate 1000ms;

        @media(max-width: 1400px) {
            scale: .8;
            height: calc(1200px * .8);
        }

        @media(max-width: 1000px) {
            scale: .6;
            height: calc(1200px * .6);
        }

        @media(max-width: 800px) {
            scale: .5;
            height: calc(1200px * .5);
        }

        @media(max-width: 600px) {
            scale: .4;
            height: calc(1200px * .4);
        }


        @media(max-width: 500px) {
            scale: .3;
            height: calc(1200px * .3);
        }



        &_center {
            translate: -300px 0px;
        }
    }

    &_page {
        font-size: 100px;
        color: #000;
    }
}