:root {
    --scale: 0.8;
}

@media (max-width: 1400px) {
    :root {
        --scale: 0.7;
    }
}

@media (max-width: 1000px) {
    :root {
        --scale: 0.6;
    }
}

@media (max-width: 800px) {
    :root {
        --scale: 0.5;
    }
}

@media (max-width: 600px) {
    :root {
        --scale: 0.4;
    }
}

@media (max-width: 500px) {
    :root {
        --scale: 0.3;
    }
}


.PaperItem {

    background: #FFFFFF;
    // border: 5px * var(--scale)) solid red;
    color: black;
    user-select: none;
    transform-style: preserve-3d;
    overflow: hidden;
    // box-shadow: 0px * var(--scale)) 4px * var(--scale)) #9C9C9C;
    cursor: url('/img/pointer.png'), pointer;
    transition: transform 500ms;


    min-width: calc(600px * var(--scale));
    max-width: calc(600px * var(--scale));
    min-height: calc(1000px * var(--scale));
    max-height: calc(1000px * var(--scale));
    height: calc(1000px * var(--scale));
    border-radius: calc(10px * var(--scale));
    font-size: calc(40px * var(--scale));





    div,
    span {
        cursor: url('/img/pointer.png'), pointer;
    }


    &_textWrapper {
        padding: calc(5px * var(--scale)) calc(16px * var(--scale));
    }

    img {
        min-width: calc(650px * var(--scale));
        min-height: calc(1050px * var(--scale));
        position: relative;
        left: calc(-25px * var(--scale));
        top: calc(-25px * var(--scale));
        pointer-events: none;
        width: 100%;
    }

    &_header {
        text-align: justify;
        color: #000;
        padding: calc(0px * var(--scale)) calc(10px * var(--scale));
        width: 100%;

        .stretch-helper::after {
            content: '';
            display: inline-block;
            width: 100%;
        }

        span {
            color: #000;
        }

        &_xxl {
            // font-size: calc(90px * var(--scale));
            font-family: 'Obrazec';
            text-transform: uppercase;

            width: 100%;
            display: flex;
            justify-content: space-between;
            letter-spacing: -2px !important;
        }

        &_line {
            width: 100%;
            background-color: #000;
            height: calc(5px * var(--scale));
            margin: 0 auto;
            margin-top: calc(10px * var(--scale));
        }

        &_description {
            color: #000;
            font-size: calc(40px * var(--scale));
            padding: calc(5px * var(--scale)) calc(10px * var(--scale));
            margin-top: calc(10px * var(--scale));
            letter-spacing: 0px !important;
            text-align: justify;
        }

        &__title {
            // font-weight: 700;
            // font-size: calc(158px * var(--scale));
            // font-size: calc(140px * var(--scale)) !important;
            font-size: calc(166px * var(--scale)) !important;
        }

        &__title2 {
            font-weight: 700;
            // font-size: calc(142px * var(--scale));
            // font-size: calc(110px * var(--scale));
            font-size: calc(155px * var(--scale));
        }

        &__title3 {
            font-weight: 700;
            // font-size: calc(112px * var(--scale));
            // font-size: calc(92px * var(--scale));
            font-size: calc(122px * var(--scale));
        }

        &__title4 {
            font-size: calc(100px * var(--scale));
            font-weight: 700;
        }

        &__title5 {
            font-size: calc(90px * var(--scale));
        }

        &__title6 {
            font-size: calc(135px * var(--scale));
        }

        &__title7 {
            font-size: calc(173px * var(--scale));
        }

        &_1_1 {
            height: calc(360px * var(--scale));

            &_title {
                font-size: calc(460px * var(--scale));
            }
        }

        &_1_2 {
            height: calc(218px * var(--scale));

            &_title {
                font-size: calc(270px * var(--scale));
            }
        }

        &_1_3 {
            height: calc(72px * var(--scale));

            &_title {
                font-size: calc(110px * var(--scale));
            }
        }

        &_2_1 {
            height: calc(146px * var(--scale));

            &_title {
                font-size: calc(170px * var(--scale));
            }
        }

        &_2_2 {
            height: calc(136px * var(--scale));

            &_title {
                font-size: calc(150px * var(--scale));
            }
        }

        &_2_3 {
            height: calc(138px * var(--scale));

            &_title {
                font-size: calc(120px * var(--scale));
            }
        }

        &_3_1 {
            height: calc(80px * var(--scale));

            &_title {
                font-size: calc(104px * var(--scale));
            }
        }

        &_3_2 {
            height: calc(156px * var(--scale));

            &_title {
                font-size: calc(172px * var(--scale));
            }
        }

        &_3_3 {
            height: calc(120px * var(--scale));

            &_title {
                font-size: calc(105px * var(--scale));
            }
        }

        &_4_1 {
            height: calc(160px * var(--scale));

            &_title {
                font-size: calc(186px * var(--scale));
            }
        }

        &_4_2 {
            height: calc(114px * var(--scale));

            &_title {
                font-size: calc(142px * var(--scale));
            }
        }

        &_4_3 {
            height: calc(160px * var(--scale));

            &_title {
                font-size: calc(155px * var(--scale));
            }
        }

    }

    &_ctoblinker {
        width: 100% !important;
        top: calc(180px * var(--scale));
        z-index: 9;

        &_inner {
            text-align: center;
            white-space: nowrap;
            font-size: calc(90px * var(--scale));
            text-shadow: calc(0px * var(--scale)) calc(0px * var(--scale)) calc(10px * var(--scale)) #000;
            animation: blinker .4s infinite ease-in-out alternate;

            @keyframes blinker {
                0% {
                    opacity: 1;
                }

                100% {
                    opacity: .3;
                }
            }
        }
    }

    &_start {
        text-align: justify !important;
        color: #000;
        display: flex;
        flex-wrap: wrap;
        align-content: start;

        .stretch-helper::after {
            content: '';
            display: inline-block;
            width: 100%;
        }

        span {
            color: #000;
            line-height: 0.8;
        }

        &_startTitle {
            font-size: calc(470px * var(--scale));
            text-align: justify !important;
            width: 100%;
        }

        &_don {
            font-size: calc(275px * var(--scale));
            text-align: justify !important;
            width: 100%;
        }

        &_meet {
            font-size: calc(100px * var(--scale));
            text-align: justify !important;
            width: 100%;
        }

        img {
            margin-top: calc(50px * var(--scale));
            max-width: calc(630px * var(--scale));
            min-width: calc(630px * var(--scale));
            max-height: calc(400px * var(--scale));
            min-height: calc(320px * var(--scale));
        }
    }

    &_wrapper {
        transition: transform 1s ease-in-out;
        backface-visibility: hidden;
        // scale: .8;

        // @media(max-width: 1400px * var(--scale))) {
        //     scale: .8;
        //     height: calc(1200px * var(--scale)) * .8);
        // }

        // @media(max-width: 1000px * var(--scale))) {
        //     scale: .6;
        //     height: calc(1200px * var(--scale)) * .6);
        // }

        // @media(max-width: 800px * var(--scale))) {
        //     scale: .5;
        //     height: calc(1200px * var(--scale)) * .5);
        // }

        // @media(max-width: 600px * var(--scale))) {
        //     scale: .4;
        //     height: calc(1200px * var(--scale)) * .4);
        // }


        // @media(max-width: 500px * var(--scale))) {
        //     scale: .3;
        //     height: calc(1200px * var(--scale)) * .3);
        // }
    }

    // &__text {
    //     width: 100%;
    //     padding: 0px * var(--scale)) 16px * var(--scale));

    //     &_title {
    //         color: #000;
    //         font-size: 110px * var(--scale));
    //         max-width: 100%;
    //     }

    //     &_line {
    //         width: 100%;
    //         height: 5px * var(--scale));
    //         background-color: #000;
    //     }

    //     &_description {
    //         color: #000;
    //         font-size: 40px * var(--scale));
    //         max-width: 100%;
    //     }
    // }

    // &__img {
    //     width: 100%;
    // }
}