.HowToBuyItem {
    min-width: 500px;
    min-height: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;

    &_wrapper {
        align-items: start !important;
        transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
    }


    @media(max-width: 800px) {
        width: 80% !important;
        min-height: 400px;
    }

    &__img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
        flex-wrap: wrap;

        &_1 {
            width: 650px;
        }

        &_2 {
            width: 550px;
            position: relative;
            left: 50px;
        }

        &_3 {
            width: 550px;
            position: relative;
            left: 50px;
        }

        &_4 {
            width: 500px;
        }

        &_wrapper {
            background: rgba($color: #001524, $alpha: .6);
            border-radius: 24px;
            display: flex;
            justify-content: center;
            align-items: end;
            width: 500px;
            height: 500px;

            img {
                pointer-events: none;
            }
        }


    }

    &__index {
        width: 100% !important;
        font-size: 80px;
        display: flex;
        justify-content: start !important;
        right: 50px;

        @media(max-width: 1200px) {
            font-size: 50px;
        }

        @media(max-width: 800px) {
            right: 20px;
        }

        &_text {
            padding: 0px 30px;
            background-color: #25A3E1;
            border-radius: 20px;
            border: 2px solid #000;
            border-bottom: 10px solid #000;
            font-weight: 800;
            min-width: 110px;
            min-height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;

            @media(max-width: 1200px) {
                padding: 5px 15px;
            }
        }
    }

    &__description {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        &_title {
            font-weight: 800;
            font-size: 41px;
            text-shadow: 2.00px 0.00px #000, 1.85px 0.77px #000, 1.41px 1.41px #000, 0.77px 1.85px #000, 0.00px 2.00px #000, -0.77px 1.85px #000, -1.41px 1.41px #000, -1.85px 0.77px #000,
                -2.00px 0.00px #000, -1.85px -0.77px #000, -1.41px -1.41px #000, -0.77px -1.85px #000, -0.00px -2.00px #000, 0.77px -1.85px #000, 1.41px -1.41px #000, 1.85px -0.77px #000, 5.00px 3.00px #000, 4.85px 3.77px #000, 4.41px 4.41px #000, 3.77px 4.85px #000, 3.00px 5.00px #000, 2.23px 4.85px #000, 1.59px 4.41px #000, 1.15px 3.77px #000, 1.00px 3.00px #000,
                1.15px 2.23px #000, 1.59px 1.59px #000, 2.23px 1.15px #000, 3.00px 1.00px #000, 3.77px 1.15px #000, 4.41px 1.59px #000, 4.85px 2.23px #000;

            @media(max-width: 1200px) {
                font-size: 30px;
            }
        }

        &_description {
            font-size: 26px;
            text-shadow: 1.00px 0.00px #000, 0.92px 0.38px #000, 0.71px 0.71px #000, 0.38px 0.92px #000, 0.00px 1.00px #000, -0.38px 0.92px #000, -0.71px 0.71px #000, -0.92px 0.38px #000,
                -1.00px 0.00px #000, -0.92px -0.38px #000, -0.71px -0.71px #000, -0.38px -0.92px #000, -0.00px -1.00px #000, 0.38px -0.92px #000, 0.71px -0.71px #000, 0.92px -0.38px #000, 3.00px 2.00px #000, 2.92px 2.38px #000, 2.71px 2.71px #000, 2.38px 2.92px #000, 2.00px 3.00px #000, 1.62px 2.92px #000, 1.29px 2.71px #000, 1.08px 2.38px #000, 1.00px 2.00px #000,
                1.08px 1.62px #000, 1.29px 1.29px #000, 1.62px 1.08px #000, 2.00px 1.00px #000, 2.38px 1.08px #000, 2.71px 1.29px #000, 2.92px 1.62px #000;

            @media(max-width: 1200px) {
                font-size: 20px;
            }

            a {
                text-decoration: underline;
            }
        }
    }
}