.Header {
    width: 100%;
    padding: 8px 24px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    top: 0px;
    height: 100px;

    @media(max-width: 720px) {
        padding: 0px 16px;
        // flex-wrap: wrap;
        // justify-content: center;
        align-items: center;
        gap: 12px;
        height: 60px;
    }

    &__logo {
        // width: calc(50% - 20px);


        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20px;

        @media(max-width: 1400px) {
            width: fit-content;
        }


        &_img {
            width: 80px;
            padding-top: 10px;

            @media(max-width: 880px) {
                width: 60px;
            }

            @media(max-width: 640px) {
                width: 40px;
            }
        }
    }

    &__nav {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        column-gap: 32px;
        height: 100px;

        @media(max-width: 720px) {
            height: auto;
        }

        &_wrap {
            width: 100% !important;
            height: 0px;
            align-items: end !important;


            @media(max-width: 720px) {
                align-items: start !important;
                // display: none !important;
            }
        }
    }

    &_media {
        // padding-top: 12px;

        &_element {
            width: 100%;
            cursor: url('/img/pointer.png'), pointer;

            img {
                cursor: url('/img/pointer.png'), pointer;
                width: 86px;
                transition: transform 200ms;

                @media(max-width: 720px) {
                    width: 64px;
                    padding-top: 12px;
                }

                @media(max-width: 640px) {
                    width: 48px;
                }
            }



            &:hover {
                img {
                    transform: rotate(5deg) scale(1.1);
                }
            }
        }
    }


    &__el {
        text-transform: uppercase;
        font-size: 75px;



        text-shadow: 3.00px 0.00px #000,
            2.77px 1.15px #000,
            2.12px 2.12px #000,
            1.15px 2.77px #000,
            0.00px 3.00px #000,
            -1.15px 2.77px #000,
            -2.12px 2.12px #000,
            -2.77px 1.15px #000,
            -3.00px 0.00px #000,
            -2.77px -1.15px #000,
            -2.12px -2.12px #000,
            -1.15px -2.77px #000,
            -0.00px -3.00px #000,
            1.15px -2.77px #000,
            2.12px -2.12px #000,
            2.77px -1.15px #000,
            7.00px 4.00px #000,
            6.77px 5.15px #000,
            6.12px 6.12px #000,
            5.15px 6.77px #000,
            4.00px 7.00px #000,
            2.85px 6.77px #000,
            1.88px 6.12px #000,
            1.23px 5.15px #000,
            1.00px 4.00px #000,
            1.23px 2.85px #000,
            1.88px 1.88px #000,
            2.85px 1.23px #000,
            4.00px 1.00px #000,
            5.15px 1.23px #000,
            6.12px 1.88px #000,
            6.77px 2.85px #000;

        @media(max-width: 1100px) {
            font-size: 50px;
            text-shadow: 2.00px 0.00px #000, 1.85px 0.77px #000, 1.41px 1.41px #000, 0.77px 1.85px #000, 0.00px 2.00px #000, -0.77px 1.85px #000, -1.41px 1.41px #000, -1.85px 0.77px #000,
                -2.00px 0.00px #000, -1.85px -0.77px #000, -1.41px -1.41px #000, -0.77px -1.85px #000, -0.00px -2.00px #000, 0.77px -1.85px #000, 1.41px -1.41px #000, 1.85px -0.77px #000, 4.00px 2.00px #000, 3.85px 2.77px #000, 3.41px 3.41px #000, 2.77px 3.85px #000, 2.00px 4.00px #000, 1.23px 3.85px #000, 0.59px 3.41px #000, 0.15px 2.77px #000, 0.00px 2.00px #000,
                0.15px 1.23px #000, 0.59px 0.59px #000, 1.23px 0.15px #000, 2.00px 0.00px #000, 2.77px 0.15px #000, 3.41px 0.59px #000, 3.85px 1.23px #000;
        }

        @media(max-width: 700px) {
            font-size: 30px;
            text-shadow: 0.80px 0.00px #000, 0.74px 0.31px #000, 0.57px 0.57px #000, 0.31px 0.74px #000, 0.00px 0.80px #000, -0.31px 0.74px #000, -0.57px 0.57px #000, -0.74px 0.31px #000,
                -0.80px 0.00px #000, -0.74px -0.31px #000, -0.57px -0.57px #000, -0.31px -0.74px #000, -0.00px -0.80px #000, 0.31px -0.74px #000, 0.57px -0.57px #000, 0.74px -0.31px #000, 1.80px 1.00px #000, 1.74px 1.31px #000, 1.57px 1.57px #000, 1.31px 1.74px #000, 1.00px 1.80px #000, 0.69px 1.74px #000, 0.43px 1.57px #000, 0.26px 1.31px #000, 0.20px 1.00px #000,
                0.26px 0.69px #000, 0.43px 0.43px #000, 0.69px 0.26px #000, 1.00px 0.20px #000, 1.31px 0.26px #000, 1.57px 0.43px #000, 1.74px 0.69px #000;
            letter-spacing: -1px !important;
        }

        &:hover {
            span {
                color: #FFD600;
            }
        }

        &_selected {
            span {
                color: #FFD600;
            }
        }

    }
}