.Footer {
    width: 100%;
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #022640 url('/img/footer.webp');
    background-repeat: repeat;
    border-top: 3px solid #447DA6;
    padding: 32px 0px;
    gap: 32px;
    padding-bottom: 190px;
    animation: footerBg 500s infinite linear;

    @media(min-width: 1300px) {
        padding-bottom: 32px;
    }

    @media(max-width: 600px) {
        flex-wrap: wrap;
    }

    @keyframes footerBg {
        0% {
            background-position: 0% 0%;
        }

        100% {
            background-position: 200% 200%;
        }
    }

    &__social {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        a {
            cursor: url('/img/pointer.png'), pointer;
        }

        img {
            cursor: url('/img/pointer.png'), pointer;
            width: 89px;
            // cursor: pointer;
        }
    }

    &__title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @media(max-width: 830px) {
            flex-wrap: wrap;
        }

        &_item {
            width: calc(33% - 20px);
            font-weight: 700;
            text-shadow: 1.00px 0.00px #000, 0.92px 0.38px #000, 0.71px 0.71px #000, 0.38px 0.92px #000, 0.00px 1.00px #000, -0.38px 0.92px #000, -0.71px 0.71px #000, -0.92px 0.38px #000,
                -1.00px 0.00px #000, -0.92px -0.38px #000, -0.71px -0.71px #000, -0.38px -0.92px #000, -0.00px -1.00px #000, 0.38px -0.92px #000, 0.71px -0.71px #000, 0.92px -0.38px #000, 3.00px 2.00px #000, 2.92px 2.38px #000, 2.71px 2.71px #000, 2.38px 2.92px #000, 2.00px 3.00px #000, 1.62px 2.92px #000, 1.29px 2.71px #000, 1.08px 2.38px #000, 1.00px 2.00px #000,
                1.08px 1.62px #000, 1.29px 1.29px #000, 1.62px 1.08px #000, 2.00px 1.00px #000, 2.38px 1.08px #000, 2.71px 1.29px #000, 2.92px 1.62px #000;

            @media(max-width: 830px) {
                width: 100%;
            }

            &_c {
                font-size: 29px;
                text-align: center;

                @media(max-width: 1350px) {
                    font-size: 20px;
                }
            }

            &_big {
                font-size: 50px;
                text-align: center;

                @media(max-width: 1350px) {
                    font-size: 30px;
                }
            }
        }
    }
}