@font-face {
    font-family: 'Obrazec';
    src: url('/fonts/Obrazec.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Finlandica';
    src: url('/fonts/Finlandica.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}




@font-face {
    font-family: 'CrimsonPro';
    src: url('/fonts/CrimsonPro.ttf');
    font-weight: normal;
    font-style: normal;
}