@keyframes shake {
    0% {
        rotate: 0deg;
    }

    33% {
        rotate: -5deg;
    }

    66% {
        rotate: 2deg;
    }

    100% {
        rotate: 0deg;
    }
}

.Decor {
    margin-top: 50px;
    width: 100%;
    background-image: url('/img/bg.webp');
    background-repeat: repeat-x;
    height: 600px;
    background-size: 1200px 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: sea 100s infinite linear;

    overflow: hidden;

    @media(max-width: 800px) {
        height: 400px;
        background-size: 600px 300px;
    }



    @keyframes sea {
        0% {
            background-position: 0% 0%;
        }

        100% {
            background-position: -100% 0%;
        }
    }

    img {

        user-drag: none;
        -webkit-user-drag: none;
        pointer-events: none;
    }

    &__info {
        width: 100% !important;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        pointer-events: none;

        &_table {
            animation: shake 4s infinite;
            align-items: end !important;
            left: 280px;

            bottom: 120px;

            @media(max-width: 1300px) {
                left: 20vw;
                bottom: 15vw;
            }

            @media(max-width: 800px) {
                left: 30vw;
                bottom: 25vw;
            }

            &_right {
                left: -200px;
                bottom: 150px;
                animation: shake 7s infinite;

                @media(max-width: 1300px) {
                    left: -20vw;
                    bottom: 15vw;
                }

                @media(max-width: 800px) {
                    left: -30vw;
                    bottom: 25vw;
                }
            }

            img {
                width: 15vw;
                max-width: 200px;

                @media(max-width: 800px) {
                    width: 40vw;
                    max-width: 1000px;
                }
            }
        }

        &_duck {
            align-items: flex-end !important;
            justify-content: center !important;
            z-index: 999;

            img {
                width: 90vw;
                max-width: 1000px;
                pointer-events: none;

                @media(max-width: 800px) {
                    width: 150vw;
                }
            }
        }
    }
}